<h1>gux-button-dropdown-beta</h1>

<div class="layout">
  <div class="row">
    <div class="overlap">
      <h2>Primary</h2>
      <gux-button-dropdown
        text="Primary"
        variation="multi"
        accent="primary"
        is-open="true"
      >
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test3"></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-button-dropdown>

      <gux-button-dropdown
        variation="action"
        text="Primary"
        variation="multi"
        accent="primary"
        is-open="true"
      >
        <gux-action-item text="test"></gux-action-item>
        <gux-action-item text="test2"></gux-action-item>
        <gux-action-item text="test3"></gux-action-item>
        <gux-list-divider></gux-list-divider>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-button-dropdown>
    </div>

    <div class="overlap">
      <h2>Secondary</h2>
      <gux-button-dropdown text="Secondary" accent="secondary">
        <gux-action-item>test</gux-action-item>
        <gux-action-item>test2</gux-action-item>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-button-dropdown>
      <gux-button-dropdown
        variation="action"
        text="Secondary"
        accent="secondary"
      >
        <gux-action-item>test</gux-action-item>
        <gux-action-item>test2</gux-action-item>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-button-dropdown>
    </div>

    <div class="overlap">
      <h2>Tertiary</h2>
      <gux-button-dropdown text="Tertiary" accent="tertiary">
        <gux-action-item>test</gux-action-item>
        <gux-action-item>test2</gux-action-item>
      </gux-button-dropdown>

      <gux-button-dropdown variation="action" text="Tertiary" accent="tertiary">
        <gux-action-item>test</gux-action-item>
        <gux-action-item>test2</gux-action-item>
      </gux-button-dropdown>
    </div>
    <div>
      <div class="overlap"></div>

      <h2>Disabled</h2>
      <gux-button-dropdown class="disable-toggle" text="Disabled" disabled>
        <gux-action-item>test</gux-action-item>
        <gux-action-item>test2</gux-action-item>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-button-dropdown>

      <gux-button-dropdown
        variation="action"
        class="disable-toggle"
        text="Disabled"
        disabled
      >
        <gux-action-item>test</gux-action-item>
        <gux-action-item>test2</gux-action-item>
        <gux-action-item><span>I am a span</span></gux-action-item>
      </gux-button-dropdown>
    </div>
  </div>
</div>

<style
  onload="(function () {
    const disableToggles = document.getElementsByClassName('disable-toggle');

    Array.from(disableToggles).forEach((disableToggle) => {
      setInterval(() => {
        disableToggle.disabled = !disableToggle.disabled;
      }, 5000);
    });
  })()"
>
  .layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-between;
    height: calc(100% - 64px);
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
  }

  .overlap gux-button-dropdown {
    margin-bottom: 4px;
  }
</style>
